<div class="umb-language-picker" ng-controller="BeyondUmbraco.TreeExtensions" ng-if="currentSection === 'media'" deep-blur="page.languageSelectorIsOpen = false" on-outside-click="page.languageSelectorIsOpen = false">
    <button type="button" class="umb-language-picker__toggle" ng-click="toggleLanguageSelector()" aria-haspopup="true" aria-expanded="{{page.languageSelectorIsOpen}}">
        <span>
            <span class="sr-only">
                <localize key="visuallyHiddenTexts_currentLanguage">Current language</localize>
                <span>: </span>
            </span>
            <span>{{selectedLanguage.name}}</span>
        </span>
        <umb-icon icon="{{page.languageSelectorIsOpen ? 'icon-navigation-up' : 'icon-navigation-down'}}" class="umb-language-picker__expand icon-navigation-down" aria-hidden="true">&nbsp;</umb-icon>
    </button>
    <div class="umb-language-picker__dropdown" ng-if="page.languageSelectorIsOpen">
        <button type="button"
                class="umb-language-picker__dropdown-item"
                ng-class="{'umb-language-picker__dropdown-item--current': language.active}"
                ng-click="selectLanguage(language)"
                ng-repeat="language in languages | orderBy:'name'">
            <span class="sr-only">
                <localize key="visuallyHiddenTexts_switchLanguage">Switch language to</localize>
                <span>: </span>
            </span>
            <span>{{language.name}}</span>
        </button>
    </div>
</div>